	/*========================================
	//	ESTILIZANDO A NAV BAR
	//========================================*/

	body{
		background-image: url('imagens/logo.jpg');
		background-size: cover;
		bakcground-repeat: no-repeat;
		display: flex;
		justify-content: space-between;
		flex-flow: column wrap;
	}
	footer{
		align-self: end;
	}
	nav{
		display: flex;
		justify-content: space-between;
		background-color: #003f99;
		height: 2em;
	}
	nav > h1 {
		align-self: center;
		margin-left: 6%;
		background-color: #F14300;
		color: white;
		border: 2px solid #F14300;
		border-radius: 0.6em;
	}
	nav > div{
		align-self: center;
		margin: 0% 15% 0% 0%;
	}
	div > input{
		width: 15em;
	}
	button{
		border-radius: 0.6em;
	}
	
	nav > h1:hover{
		font-size: 1.8em;
		transition: 0.3s;
	}
	/*==============================================
	// 	    ESTILIZANDO A PESQUISA
	//==============================================*/
	header{
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		color: white;
	}
	#conteudo{
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	#img{
		align-self: center;
		width: 100%;
		margin: 0% 20% 0% 70%;
	}
	
	#explicacao{
		display: none;
		width: 50%;
		height: 15em;
		margin: 0% 0% 0% 0%;
		padding: 0;
		resize: none;
	}
	@media all(max-width: 450px){
               body{
                  width: 320px;
                  height: 640px;
                  background-color: blue;
               }
               nav {
                  display: none;
               }
        }
