@media (max-width: 600px), (orientation: portrait) {
  body {
    background: url("../imagens/estrelas.jpg");
    background-position: center center;
    background-size: calc(5 * 600px);
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .logoNome {
    height: 30px;
    width: 230px;
    align-items: center;
  }
  input,
  button {
    height: 3em;
  }
  input {
    width: 13em;
  }
  .busca-img {
    width: 80%;
    height: 60px;
    border-radius: 2em;
  }
}
