@media (max-width: 600px), (orientation: portrait) {
  body {
    background: url("../imagens/estrelas.jpg");
    background-position: center center;
    background-size: calc(5 * 600px);
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  .busca-img {
    width: 80%;
  }
}
