nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
  background: blue;
  min-width: 100vw;
}
.logoNome {
  align-self: center;
  display: flex;
  justify-content: center;
  background: red;
  height: 27px;
  width: 200px;
  border-radius: 20px;
  color: white;
  margin: auto;
}
nav > div {
  margin: auto;
}
h1 {
  margin: 0 auto;
}

.busca-img {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 9px;
  background: white;
  height: 27px;
  width: 333px;
  margin: auto;
  border-radius: 10px;
}
input,
button {
  border: none;
  background: transparent;
  margin: auto 6px;
}
input {
  appearance: none;
}
